{% comment %} category-card {% endcomment %}
<div class="category-card group relative">
  <div class="relative w-full h-80 bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1 rounded-2xl overflow-hidden border-2 border-black">
    {% if collection.featured_image != blank %}
      {{ collection.featured_image | image_url: width: 500, format: 'pjpg' | image_tag: alt: collection.title, class: 'w-full h-full object-center object-cover' }}
    {% else %}
      {{ 'product-2' | placeholder_svg_tag: 'w-full h-full object-center object-cover' }}
    {% endif %}
  </div>
  <h3 class="mt-6 text-base font-semibold text-gray-900">
    <a href="{{ collection.url }}">
      <span class="absolute inset-0"></span>
      {{ collection.title }}
    </a>
  </h3>
  <p class="text-sm text-gray-500">
    {{ collection.description }}
  </p>
</div>