{% assign _s = section.settings %}


<!-- Header Section -->
<nav class="relative bg-white border-b-2 border-black z-40">
  <div class="container mx-auto px-4 md:px-6 flex flex-wrap items-center justify-between md:justify-start">
    <a href="{{ routes.root_url }}" class="flex p-2 mx-2 h-20 order-1 md:order-none">
      <span class="self-center text-lg font-bold whitespace-nowrap text-theme">
      {% if _s.logo != blank %}
        {{ _s.logo | image_url: width: 300 | image_tag: alt: shop.name, class: 'w-32 md:w-36' }}
      {% else %}
        {{ shop.name }}
      {% endif %}
      </span>
    </a>
    <button type="button"
      data-toggle data-target="#mobile-menu"
      class="inline-flex items-center mx-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="mobile-menu" aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      {% render 'icons', icon: "menu" %}
    </button>
    <ul class="flex flex-col md:flex-row md:space-x-8 md:text-sm md:font-medium order-1 md:ml-auto">
      <li class="mx-3">
        <a class="relative flex items-center my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform hover:text-theme md:mx-4 md:my-0" 
          href="{{ routes.cart_url }}">
          {% render 'icons', icon: "cart" %}
          <span class="h-6 w-6 leading-6 rounded-full text-xs font-medium bg-theme text-white text-center outline outline-1 absolute -top-2 -right-4">{{ cart.item_count }}</span>
        </a>
      </li>
    </ul>
    <div id="mobile-menu" class="hidden md:block fixed md:static inset-0 md:w-auto md:h-auto border-b md:border-0 md:ml-8">
      <div class="fixed md:hidden inset-0 bg-black bg-opacity-25"></div>
      <div class="flex flex-col bg-white relative w-80 h-full border-r-2 md:border-0 border-black">
        <button type="button"
          data-toggle data-target="#mobile-menu"
          class="inline-flex items-center p-3 m-3 ml-auto text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
          aria-controls="mobile-menu" aria-expanded="false"
        >
          <span class="sr-only">Close main menu</span>
          {% render 'icons', icon: "close" %}
        </button>
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          {% for link in _s.menu.links %}
            <li class="px-5 py-2 md:p-0">
              <a class="inline-block my-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform hover:text-theme md:mx-4 md:my-0" 
                href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</nav>



{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main navigation"
    }
  ]
}
{% endschema %}
