{% liquid 
  assign product_form_id = 'product-form-' | append: section.id
  assign default_variant = product.selected_or_first_available_variant
  assign grid_view = false
%}

<script>
  window._product_data = {{ product | json }};
</script>

<div class="bg-white border-b-2 border-black">
  <div class="container mx-auto px-4 md:px-6 py-9 md:py-12 lg:py-16">

    {% render 'breadcrumb', 
      collection: collection, 
      product: product 
    %}
    
  
    <div class="flex flex-col lg:flex-row gap-8 lg:gap-x-14">
      <!-- Media -->
      <div class="w-full lg:w-1/2">

        {% render 'product-media', 
          product: product,
          grid_view: grid_view
        %}

      </div>

      <!-- Description -->
      <div class="w-full lg:w-1/2 product-details" id="product-details">
        <div class="sticky top-0">
          
          <h2 class="text-3xl md:text-5xl font-semibold font-heading mb-5 text-theme">{{ product.title }}</h2>
          <div class="mb-5">{{ product.description }}</div>
    
          <p class="font-heading mb-5">
            {% if product.compare_at_price %}
              <s class="text-2xl lg:text-3xl font-light mr-3 price-item--compare">{{ product.compare_at_price | money_with_currency }}</s>
            {% endif %}
            <span class="text-2xl lg:text-3xl font-bold price-item--regular">{{ product.price | money_with_currency }}</span>
          </p>
    
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            {% if product.has_only_default_variant %}
              <div class="mt-6 lg:mt-8">
                <input name="id" value="{{ default_variant.id }}" type="hidden">
              </div>
              {% else %}
              <div class="mt-6 lg:mt-8">
                <label class="form__label block mb-3" for="Variants-{{ section.id }}">Select variant</label>
                <div class="select">
                  <select 
                    id="variants-{{ section.id }}" 
                    class="variant-option-select block w-full mt-3 px-3 py-1.5 bg-white bg-clip-padding bg-no-repeat border border-black m-0"
                    name="id" 
                    form="{{ product_form_id }}"
                  >
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - Sold out!{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                </div>
              </div>
            {% endif %}
  
            <div class="mt-6 lg:mt-8">
              <div class="flex flex-row justify-between mt-4">
                <p class="font-medium text-base leading-4 text-gray-600 flex items-center">Select quantity</p>
                {% render 'quantity-spinner' %}
              </div>
            </div>
            
            <hr class="bg-gray-200 w-full mt-4" />
  
            <button type="submit" class="submit-btn w-full mb-2 mt-6 lg:mt-12 px-10 py-4 bg-theme border-2 border-black text-lg text-white font-semibold">
              Add to shopping bag
            </button>
            
            {{ form | payment_button }}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>


<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
        {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>


{% comment %} {% render 'sticky-a2c' %} {% endcomment %}
{% comment %} {% render 'product-merge', form_id: product_form_id %} {% endcomment %}
